
body {
  padding: 50px;
  font: 23px "Lucida Grande", Helvetica, Arial, sans-serif;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
  border-radius: 10px;
}

.th {
  font-weight: bold;
  color: white;
  font-size: 24px;
  background-color: rgba(20,193,173,255);
}

td{
  border: 2px solid black;
  padding: 7px;
}

